
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <% messages.forEach(element => { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= messages %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        <% }) %>

    <section class="section dashboard">
      <div class="row">
        <h1>Admin Dashboard</h1>
        <p>Show some statistics here</p>
        <!-- Left side columns -->
       

  
      </div>
    </section>

  </main><!-- End #main -->

  