<main>
    <div class="container">

    
        <section class="section">
            <div class="row">
              <div class="col-lg-3">
              </div>
        
              <div class="col-lg-9 pt-5">
              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Edit a Post</h5>
                  </div>
                  <% messages.forEach(element => { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= messages %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                    <% }) %>
                    

                  <form   method="post" action="/admin/post/<%= data._id %>?_method=PUT" >
                    <div class="col-12">
                        <label for="title" class="form-label">Post Title</label>
                        <input type="text" value="<%= data.title %>" name="title" class="form-control" id="title" required>
                      </div>
  
                    
                      <div class="col-12">
                        <label for="body" class="form-label">Post Body</label>
                        <input type="text" name="body" class="form-control" id="body" value="<%= data.body %>" required>
                      </div>
                      <br>
  
                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Update Post</button>
                      </div>
  

                  </form>

                </div>
              </div>


          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->